.folder {
    background-color: rgba(22, 22, 23, 1);
}

.playground {
    background-color:rgba(39, 38, 45, 1) ;
    width: 97%;
}

@media only screen and (min-width: 768px) {
    .playground {
        height: 85vh;
    }
    .speech-container {
        height: 67vh;
    }
}

.file-title{
    color: rgb(156, 152, 152);
}

.speech-container{
    background-color: rgba(24, 25, 28, 1);
    overflow-y: scroll;
}

::selection {
    background-color: gray;
    color: white;
}
.speech-container::-webkit-scrollbar {
    width: 6px;
}

.speech-container::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 60);
    border-radius: 0px;
  }

.playgroundAside-form input {
    background: transparent; 
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 3px; 
    margin: 2px;
}

.aside-section {
    overflow-y: scroll;
}
.aside-section::-webkit-scrollbar {
    width: 5px;
}

.aside-section::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 60);
    border-radius: 0px;
  }